node_modules
*.pack
.next/
*.pack
.next/build-manifest.json
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_document.js
.next/server/pages/index.js
.next/server/webpack-runtime.js
.next/static/chunks/pages/index.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/static/webpack/66fdb72294672408.webpack.hot-update.json
.next/static/webpack/ea3755ff38f8a0cd.webpack.hot-update.json
.next/static/webpack/pages/index.ea3755ff38f8a0cd.hot-update.js
.next/static/webpack/webpack.66fdb72294672408.hot-update.js
.next/static/webpack/webpack.ea3755ff38f8a0cd.hot-update.js
.next/trace
